
.popup{
    position: fixed;
    transform: translate(-50%, -10%);
    color: rgb(1, 248, 1);
    animation: fadeOut 1s linear forwards;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }